/* 
  This CSS file contains all the meta CSS required for the main CSS styles like:
root variables

*/


:root {
  --color-blue: #021431;
  --size: 1170px;
  --padding-topBottom: 0.5rem;
  --font-size: 1.5rem;
  --color-primary: #fff;
  --color-nav: #f4f8fa;
  --radius-btn: 1rem;
  --navBar-font: 1.5rem;
  --background-color: #102a42;
  --primary-color: #ab7a5f;
  --color-grey: #f1f5f8;
  --clr-primary-10: #eaded7;
  --clr-primary-1: #453227;
  --clr-primary-3: #795744;
  --clr-primary-7: #c5a491;
  --clr-grey-5: #617d98;
  --clr-primary-5: #ab7a5f;
  --clr-black: #222;
  --clr-primary-5: #ab7a5f;
  --grid-unit: 1rem;
  --border-radius-base: 0.5rem;
}

[data-theme='light'] {
--navBgColor: #fff;
--navFontColor: #000;
}

[data-theme='dark'] {
  --navBgColor: #000;
  --navFontColor: #fff;
}

/* example use of CSS custom properties */
/* body {
  background-color: var(--color-bg);
  color: var(--color-fg);
} */
