@import url('root.css');
@import url('reset.css');

.container-header {
  background: var(--color-blue);
  /*height: 10vh; /*Specifying 10vh is equivalent to occupying 10% of entire visible screen height. */
}

.wrapper-header {
  width: 100%;
  max-width: var(--size);
  margin-inline: auto;
  display: flex;
  justify-content: flex-end;
  padding-block: var(--padding-topBottom);
  gap: 2rem;
  color: var(--color-primary);
  font-size: var(--font-size);
}

nav {
  background-color: var(--navBgColor);
  position: sticky;
  top: 0;
  box-shadow: #000 0px 7px 8px 0;
  z-index: 1000;
}

.navbar {
  max-width: var(--size);
  margin-inline: auto;
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  min-height: 6.5rem;
}

.navbar-start {
  width: 70%;
}

.navbar-start img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  display: inline;
}
.menuBar {
  display: flex;
  gap: 1.5rem;
  color: var(--navFontColor);
}

.menuBar li {
  padding: 0.5rem 1rem;
}

.menuBar li:first-child {
  /* background-color: #021431;
  color: #fff;
  border-radius: 4px; */
}
.active {
  background-color: #021431;
  color: #fff;
  border-radius: 4px;
}

.menuBar li:not(.active):hover {
  background-color: #394e6a1a;
  color: #000;
  border-radius: 5px;
}

.navbar-end {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  gap: 1.4rem;
  font-size: 2.5rem;
  cursor: pointer;
}
section.featureProduct {
  width: 100%;
  background: var(--color-grey);
  margin-bottom: 23px;
}
.section-centered.featured {
  padding-block: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
img.images-featured {
  max-width: 43rem;
  height: 30rem;
  padding: 0 1.5rem;
  border-radius: 9px;
}
.feature-Wrapper {
  max-width: 100%;
  margin-inline: auto;
  padding: 5rem 2rem;
}
h1.featureProduct-title {
  text-align: center;
  font-size: 4.1rem;
  color: #34495e;
}
ul.menuBar li {
  font-size: 1.5rem;
}
img.img-src {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.wrapper {
  height: 86.8vh;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
}
section.mini-container {
  height: 100%;
  width: 100%;
  position: relative;
}
img.img-src {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
button.buttonLeft:first-child {
  position: absolute;
  transform: translate(50%, 50%);
  top: 50%;
  left: 3%;
  z-index: 11;
}
img.slides {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  object-fit: cover;
}
button.buttonRight:last-child {
  position: absolute;
  transform: translate(50%, 50%);
  right: 3%;
  bottom: 50%;
}
.slideBtn {
  font-size: 2.8rem;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  z-index: 5;
  transform: translate(50%, 50%);
  border-radius: 13rem;
  background: transparent;
  cursor: pointer;
  border: #fff 1px solid;
  opacity: 0.4;
}
h1.featureProduct-title {
  text-align: center;
  font-size: 4.1rem;
  color: var(--background-color);
  letter-spacing: 2px;
}
.underline {
  border: 2px solid;
  width: 10%;
  margin-inline: auto;
  color: var(--primary-color);
}
.slideBtn:hover {
  opacity: 1;
}
.nextSlide {
  right: 2%;
}
section.tesimonial {
  width: 100%;
  background: #b4dfda99;
}
.container {
  max-width: 100%;
  margin-inline: auto;
  position: relative;
  padding-block: 4rem;
  text-align: center;
}
.row {
  text-align: center;
  padding-block: 4rem;
}
h1.testimonial-title {
  text-align: center;
  padding-block-start: 4rem;
  font-size: 3rem;
  color: #34ace0;
  font-weight: 500;
  letter-spacing: 2px;
}
div#customers-testimonials {
  width: 66rem;
  margin-inline: auto;
}
.testimonialRightBtn {
  /* position: absolute; */
  font-size: 3rem;
  border: #2196f3 1px solid;
  border-radius: 22px;
  right: 3%;
  top: 25%;
}
.testimonialLeftBtn {
  left: 2%;
  top: 25%;
  font-size: 3rem;
  border: #2196f3 1px solid;
  border-radius: 22px;
}
img.img-test {
  border-radius: 12rem;
  height: 14rem;
  aspect-ratio: 1;
  object-fit: cover;
}

.item.slide-item {
  padding-block: 4rem;
  background: #fff;
  box-shadow: #000 3px 2px 6px -1px;
  transition: all 230ms ease;
  border-radius: 0.5rem;
}
.item-details h6 {
  font-size: 2rem;
  letter-spacing: 7px;
  padding-block: 0.5rem;
}
.item-details p:nth-child(2) {
  color: #34ace0;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding-block-end: 3px;
}
.item-details {
  width: 70%;
  text-align: center;
  margin-inline: auto;
}
.item-details p:nth-child(3) {
  font-size: 1.4rem;
  color: #617d98;
  line-height: 18px;
  font-family: inherit;
  font-weight: 600;
}
article.testimonial-image {
  position: relative;
  width: 15rem;
  height: 15rem;
  z-index: 10;
  margin-inline: auto;
}
article.testimonial-image::after {
  position: absolute;
  content: '';
  background: #49a6e9;
  width: 98%;
  height: 94%;
  top: -3%;
  left: 7%;
  border-radius: 50%;
  z-index: -2;
}
article.testimonial-image::before {
  content: '\201C';
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: #49a6e9;
  color: #fff;
  font-size: 4rem;
  padding-block-start: 1rem;
}
.icon-details {
  margin-block-start: 2rem;
  cursor: pointer;
}
section.card-container {
  width: 100%;
  background: var(--clr-primary-10);
  padding-block: 2.1rem;
}
.contenCard {
  display: flex;
  max-width: 108rem;
  margin-inline: auto;
  justify-content: space-between;
  margin-block: 3rem;
}
.contentCard h1 {
  font-size: 2rem;
}
h1.card-title {
  font-size: 3rem;
  color: var(--clr-primary-1);
}
h1.card-title {
  font-size: 3rem;
  color: var(--clr-primary-1);
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}
figcaption {
  font-size: 1.55rem;
  margin-block-start: 1rem;
  font-weight: 400;
  color: var(--clr-primary-3);
}
.cardsCard {
  max-width: 123rem;
  margin-inline: auto;
  display: flex;
  gap: 4rem;
}
article.card-01 {
  max-width: 120rem;
  background: var(--clr-primary-7);
  display: flex;
  padding: 2rem 4rem;
  flex-direction: column;
  align-items: center;
  transform: translatey(20%);
  border-radius: 4px;
}
.card-01 span {
  font-size: 3rem;
  background: var(--clr-primary-10);
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
  display: grid;
  place-items: center;
}
h4.card-title {
  padding-block: 1rem;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--clr-primary-3);
}
.card-01 p {
  text-align: center;
  font-size: 1.9rem;
  line-height: 1.8;
  color: var(--clr-primary-3);
}
section.newsetetr-box {
  width: 100%;
}
section.newsetetr-box {
  width: 100%;
  padding-block: 10rem;
}
section.newsetetr-box {
  padding: 10.1rem;
}
.section {
  max-width: 50%;
}
section.newsetetr-box {
  padding-block: 18rem;
}
.newsletter-email {
  max-width: 50%;
}
.newsletter {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  align-items: center;
}
.newsletter p {
  max-width: 57rem;
  font-size: 1.5rem;
  line-height: 2;
  padding-top: 29px;
  color: var(--clr-grey-5);
}
h3.newsletter-title {
  font-size: 3.3rem;
  letter-spacing: 2px;
}
form.form {
  flex-grow: 0.6;
  text-align: right;
  display: flex;
  justify-content: end;
}
.form input {
  padding: 0.9rem 1rem;
  color: var(--clr-grey-5);
}
.form button {
  padding: 0.8rem 1rem;
  cursor: pointer;
  background: #43a047;
  color: #fff;
  border: none;
  letter-spacing: 2px;
  font-size: 1.7rem;
}
.form button:hover {
  color: #fff;
}
footer {
  width: 100%;
  background: var(--clr-black);
  color: #fff;
}
.footer-content {
  max-width: 80%;
  margin-inline: auto;
  padding-block: 2rem;
}
.footer-content p {
  font-size: 1.5rem;
  font-family: cursive;
  text-align: center;
}
.footer-content span {
  color: var(--clr-primary-5);
}
button#theme-mode {
  font-size: 2.5rem;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--navFontColor);
}
p#cart {
  color: var(--navFontColor);
}

.signInModal {
  margin-inline: auto;
  transform: translate(0, 27rem);
}
.login-page {
  width: 36rem;
  margin: 0 auto;
}

.form {
  position: relative;
  background: #ffffff;
  width: inherit;
  padding: 3rem 3rem;
}

.fieldset {
  margin-block-end: 18px;
}

input[type='text'],
input[type='password'] {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.user-error::after {
  content: attr(data-user);
}
.pass-error::after {
  content: attr(data-pass);
}

button[type='submit'] {
  outline: 0;
  background: #4caf50;

  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 1.7rem;
  transition: background 0.35s ease;
  cursor: pointer;
}

button[type='submit'],
.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}

button#cancelbtn {
  color: #fff;
}

.signInModal {
  margin: 0 auto;
  transform: translate(0%, 15vh);
  text-align: center;
  border: none;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.signInModal::backdrop {
  background-color: rgba(0 0 0 / 0.85);
  opacity: 0.55;
}

.btns {
  display: flex;
  gap: 1rem;
}
dialog.nonSubmitModal.signInModal {
  padding: 2rem 4rem;
  transform: translate(38rem, 25rem);
}
.nonSubmitModal p {
  font-size: 1.8rem;
  margin-block: 1.2rem;
}
button#oKbtn {
  padding: 1.1rem 2.1rem;
}

.createAnAccountModal {
  width: 30%;
}

.remember {
  text-align: left;
}

.remember input {
  margin-inline-end: 1rem;
}
dialog.creatloginacModal.signInModal {
  padding: 2rem 4rem;
  transform: translate(0, 12rem);
}
.creatloginacModal {
  font-size: 1.8rem;
  margin-block: 1.2rem;
}

.siginConfirmCancel {
  padding: 0.8rem 1rem;
  cursor: pointer;
  background: #43a047;
  border: none;
  letter-spacing: 2px;
  font-size: 1.7rem;
}

.button {
  display: flex;
  gap: 1rem;
  margin-block-start: 1rem;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.signInModal h2 {
  padding-top: 2.5rem;
}
h1.form-title {
  padding-block-end: 1rem;
}
p.caption-title {
  padding-block-end: 1.4rem;
  font-size: 1.1rem;
}

.info {
  padding: 1rem;
  margin-block-end: 1rem;
}

.siginIConfirmModal {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.siginIConfirmModal button {
  padding: 0.5rem 1rem;
  color: #fff;
}
